<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />

<title> HTML5 page </title>

</head>
<body>

<form>
<textarea id="words" rows="10" cols="20">Enter comment</textarea>
<input type="button" onclick="getwords()" value="Enter" /> <br>
<p id="para"></p>
</form>

<script type="text/javascript">
function getwords() {
  text = words.value;
  document.getElementById("para").innerHTML += '<p>'+text
  document.getElementById("words").value = "enter"
}
</script>

</body>
</html>
