<html>
<head>
</head>
<body>
<form method="post" action="/logout">
<h1 style="color:blue;">YOU are already logged in bRo:) </h1>
<input type="submit" class="btn btn-primary" id="lgout-form-btn" value="logout">
</form>
</body>
</html>